/target/
/build/
/build_dragdiag/
/build_dragdiag_db/
/build-simulator/
/managed_components/
/.embuild/
/.espflash/
/.sync_temp_dir/
/sdkconfig
/sdkconfig.old
/sdkconfig.dragdiag
/sdkconfig.dragdiag.old
/sdkconfig.dragdiag-db
/sdkconfig.dragdiag-db.old
/firmware-images/
/firmware-packages/
/firmware-builds/
/output/
/release-images/
/ota-images/
/preview/
/gpt_image2_call.py
/.gpt_image2_api_key
/vercel/
*.bin
*.elf
*.map
