source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/bt/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/driver/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/efuse/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_adc/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_coex/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_common/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_bitscrambler/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_dac/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_dma/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_gpio/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_i2c/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_i2s/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_ledc/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_parlio/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_spi/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_uart/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_driver_usb_serial_jtag/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_event/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_gdbstub/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_http_server/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_hw_support/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_lcd/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_libc/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_mm/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_netif/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_partition/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_phy/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_pm/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_psram/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_ringbuf/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_rom/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_security/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_stdio/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_system/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_timer/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/esp_wifi/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/freertos/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/hal/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/heap/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/log/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/lwip/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/mbedtls/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/nvs_flash/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/nvs_sec_provider/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/pthread/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/soc/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/spi_flash/Kconfig"
source "/vol1/1000/项目/esp-idf/esp-idf-v6.0.2/components/vfs/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/components/esp_bms_lvgl_bridge/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/components/esp_bms_lvgl_ui/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__button/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__cmake_utilities/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__esp_lcd_touch/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__esp_lv_decoder/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__esp_lvgl_adapter/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__esp_mmap_assets/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/espressif__knob/Kconfig"
source "/vol1/1000/项目/esp32BmsGps/managed_components/lvgl__lvgl/Kconfig"